global
	maxconn 100

defaults
	mode http
	timeout connect 5s
	timeout client 5s
	timeout server 5s

frontend rws_fe
	# primary cert is /etc/cert/server.pem
	# /etc/cert/certdir/ contains additional certificates for SNI clients
#	bind :443 ssl crt /etc/cert/server.pem crt /etc/cert/certdir/
	bind :80
	stats uri /admin/stats
	use_backend auth if { hdr(host) -i -m beg auth. }
	use_backend boot if { hdr(host) -i -m beg boot. }
	use_backend cohorts if { hdr(host) -i -m beg cohorts. }
	use_backend notif-app-icons if { hdr(host) -i -m beg notif-app-icons. }

backend auth
	timeout connect 5s
	option httpchk GET / HTTP/1.1\r\nHost:\ auth.rebble
	server auth auth:5000 check inter 30000 downinter 1000 fastinter 1000

backend boot
	timeout connect 5s
	option httpchk GET /api/stage1/ios HTTP/1.1\r\nHost:\ boot.rebble
	server boot boot:5000 check inter 30000 downinter 1000 fastinter 1000

backend cohorts
	timeout connect 5s
	option httpchk GET /heartbeat HTTP/1.1\r\nHost:\ boot.rebble
	server cohorts cohorts:5000 check inter 30000 downinter 1000 fastinter 1000

backend notif-app-icons
	timeout connect 5s
	option httpchk GET / HTTP/1.1\r\nHost:\ notif-app-icons.rebble
	server notif-app-icons notif-app-icons:5000 check inter 30000 downinter 1000 fastinter 1000
